<!DOCTYPE web-app PUBLIC
 "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN"
 "http://java.sun.com/dtd/web-app_2_3.dtd" >

<web-app>
  <display-name>Archetype Created Web Application</display-name>
  <servlet>
    <servlet-name>ServletFormsClient</servlet-name>
    <servlet-class>Responses.servlets.ServletFormsClient</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdmin</servlet-name>
    <servlet-class>Responses.servlets.ServletAdmin</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminAddQuestions</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminAddQuestions</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminFormQuestionaries</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminFormQuestionaries</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminFormGetData</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminFormGetData</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminFormMail</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminFormMail</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminAddProject</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminAddProject</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>ServletAdminAddPosition</servlet-name>
    <servlet-class>Responses.servlets.ServletAdminAddPosition</servlet-class>
  </servlet>

  <servlet-mapping>
    <servlet-name>ServletFormsClient</servlet-name>
    <url-pattern>/ServletFormsClient</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletAdmin</servlet-name>
    <url-pattern>/ServletAdmin</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAdminAddQuestions</servlet-name>
    <url-pattern>/ServletAdminAddQuestions</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAdminFormQuestionaries</servlet-name>
    <url-pattern>/ServletAdminFormQuestionaries</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAdminFormGetData</servlet-name>
    <url-pattern>/ServletAdminFormGetData</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAdminFormMail</servlet-name>
    <url-pattern>/ServletAdminFormMail</url-pattern>
  </servlet-mapping>
  
  <servlet-mapping>
    <servlet-name>ServletAdminAddProject</servlet-name>
    <url-pattern>/ServletAdminAddProject</url-pattern>
  </servlet-mapping>

  <servlet-mapping>
    <servlet-name>ServletAdminAddPosition</servlet-name>
    <url-pattern>/ServletAdminAddPosition</url-pattern>
  </servlet-mapping>
  <welcome-file-list>
    <welcome-file></welcome-file>
    <welcome-file>ServletFormsClient</welcome-file>
  </welcome-file-list>
</web-app>
